@font-face {
  font-family: college;
  src: url('./files/College\ Block.otf');
}

.App {
  background-image: url('./files/Bryant-Denny.jpeg');
  height: 100%;
  background-repeat: no-repeat;
  background-size:  cover;
  background-attachment: fixed;
  font-family: college;
}

.App-header {
  height: 20vh;
  background-color: rgb(42, 167, 1);
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  text-align: center;
  border-bottom: 4px solid rgb(6, 0, 0);
  position: sticky;
  top: 0%;
}
.headLogo {
  width: 13vw;
  justify-self: center;
  align-self: center;
}

.title {
  align-self: center;
  font-size: 6vh;
  justify-self: center;
  width: 50vw;
}

.scoreboardCont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
  height: 15vh;
  width: 10vw;
  min-width: 100px;
  justify-self: center;
  align-self: center;
}
.score{
  display: grid;
  grid-template-rows: 3fr 1fr;
  height: 15vh;
  font-size: 2vh;
  text-align: center;
}

.instructions{
  text-align: center;
  font-size: 2rem;
  text-shadow: 3px 3px 2px black;
  color: rgb(255, 255, 255);
  display: grid;
}

.instructionsText{
  justify-self: center;
  width: 75%;
}

.cardArea {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 3vh;
  column-gap: 3vw;
}

.card {
  display: grid;
  grid-template-rows: 9fr 1fr;
  height: 200px;
  width: 150px;
  background-color: white;
  justify-self: center;
  text-align: center;
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px;
}

.schoolLogo {
  max-height: 150px;
  max-width: 150px;
  align-self: center;
  justify-self: center;
}

@media only screen and (max-width: 1300px) {
  
  .title {
    font-size: 4vh;
  }
  .scoreboardCont{
    padding-left: 2vw;
    padding-right: 2vw;
    gap: 1vw;
  }

  .cardArea {
    column-gap: 1vw;
  }

}

@media only screen and (max-width: 600px) {

  .App-header {
    height: 15vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .headLogo{
    display: none;
  }

  .title{
    font-size: 3vh;
    width: 100vw;
  }
  .scoreboardCont{
    height: 3vh;
    width: 80vw;
    align-items: center;
  }
  .score{
    font-size: 1.5vh;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    height: 2vh;
  }
  .instructions{
    font-size: 3vh;
  }
  .scoreLabel{
    margin: 0;
  }
  .scoreNumber {
    margin: 0;
  }
  .cardArea {
    column-gap: 1vw;
  }

}